.debug{
/*border: 2px solid black;*/
}

/*         */
.headerwrapper{
width: 100%;
height: 94px;

}

/*       */
.header{

height: 94px;
display:flex;
justify-content: center;
}

body{
	margin: 0;
	
	
}


/*           */
div.header-left{
flex:1;
height: 18px;
margin-top: 25px;
margin-left: 10px;

}

/*          */
div.header-center{
flex:1;
height: 50px;
display: flex;
justify-content: space-between;
}

div.header-right{
flex:1;
height: 18px;
margin-top: 25px;
text-align: 30px;
justify-content: space-around;

	
}

.header-icon{
background-color:grey;

}

.img_logo{

}

.container{
	width: 100%;
	height: 100%;
}



.women_hp  h2 a{
text-decoration: none;
color: black;
}

.men_link a {
font-family: PT Sans Narrow;	

	
}

.men_hp h2 a{
text-decoration: none;
color: black;
	
}

.women_hp  h2{
	
	
}

.header-right{
display: flex;
justify-content: flex-end;
}


