.debug{
/*border: 2px solid red;*/

}


div.hoodies{

display: flex;
justify-content: center;
justify-content: space-between;
align-items: center;
flex: 1;
flex-wrap: wrap;


}

div.hood{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);	
margin: 15px;
text-align: center;
max-width: 250px;
flex-direction: row;


}

.hood img{
width: 100%;
height: auto;
  
}

h1{
	font-family: 'Lato', sans-serif;
	text-align: center;
}

a{
	text-decoration: none;
}
