

div.jackets{

display: flex;
justify-content: center;
justify-content: space-between;
align-items: center;
flex: 1;
flex-wrap: wrap;


}

div.jack{
margin: 15px;
text-align: center;
max-width: 300px;
flex-direction: row;


}

.jack img{
width: 100%;
height: auto;
  
}

h1{
	text-align: center;
}



