body{
  font-family: sans-serif;

}

.container{
	width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.textbox{
  width: 50%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin:8px 0;
  border-bottom: 1px solid  #706166/*#4caf50*/;
}

.textbox input{
border: none;
outline: none;
background: none;
color: black;

}

/*.submit-letter{
	width:;
  background: none;

  font-size: 18px;
}

.submit-letter{
  width: ;
  background: none;
  border: 2px solid #706166;
  color: #706166;
  font-size: 18px;
}*/

p{
	color: #706166;
}