body{
  margin: 0;
  padding:0;
  font-family: sans-serif;
  /*background-color:#e1dddc;*/
  background-image: url(images/paris.jpg);
  background-size: cover;
  z-index: 1;
}

/* ------------------*/
.registerbox{

  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.registerbox h1{
  color: white;
  font-size: 40px;
  border-bottom: 6px solid #0080ff; /*#4caf50;*/
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin:8px 0;
  border-bottom: 1px solid  #0080ff/*#4caf50*/;
}

.textbox input{
border: none;
outline: none;
background: none;
color: white;
}

p{
  color: white;
}

.register-button{
  width: 100%;
  background: none;
  border: 2px solid #0080ff;
  color: white;
  font-size: 18px;
}